@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf");
  font-weight: 400;
}

.react-datepicker__header {
  padding: 0;
}

.react-datepicker-time__header {
  @apply text-[10px];
  @apply leading-[19px];
  @apply font-bold;
  @apply font-heading;
  @apply text-foreground-body;
  @apply uppercase;
  @apply rounded-tr-[4px];
  @apply bg-baseWhite;

  &:is(.dark *) {
    @apply bg-mediumGrey;
  }
}

.react-datepicker__time-container {
  width: auto;
}

.react-datepicker__month {
  margin: 0;
}

.react-datepicker__day--range-start,
.react-datepicker__day--range-end,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-end,
.react-datepicker__day--selected {
  background-color: #00adee !important;
  border-radius: 0.3rem !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent;
}

.p-checkbox {
  position: relative;
  display: inline-flex;
  user-select: none;
  vertical-align: bottom;
}

.p-checkbox-box {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-checkbox-input {
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  outline: 0 none;
  cursor: pointer;
}

.design-shadow-r {
  box-shadow: 0px 0px 20px 0px #0000001a;
  overflow: visible;
}

.dark {
  .react-datepicker__day--in-range,
  .react-datepicker__day--in-selecting-range {
    background-color: #777777;
    border-radius: 0;
  }
  .react-datepicker__day--outside-month {
    color: #dadada !important;
  }
  .p-checkbox-box {
    background-color: #313131;
  }
}

.light {
  .react-datepicker__day--in-range,
  .react-datepicker__day--in-selecting-range {
    background-color: #dadada;
    border-radius: 0;
  }
  .react-datepicker__day--outside-month {
    color: #777777 !important;
  }
  .p-checkbox-box {
    border: 1px solid #777777;
  }
}
